---
import ProjectCard from "./ProjectCard.astro";
import type { Project } from "../../data/projects";

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<astro>
  <div class="w-full mb-20">
    {
      projects.map((project: Project) => (
        <ProjectCard
          title={project.title}
          briefDescription={project.briefDescription}
          description={project.description}
          tags={project.tags}
          logo={project.logo}
          media={project.media}
          startDate={project.startDate}
          endDate={project.endDate}
          company={project.company}


        />
      ))
    }
  </div>
</astro>
