---
import Layout from "../../layouts/Layout.astro";
import TitleComponent from "../../components/Utils/Title.astro";
import Card from "../../components/Utils/Card.astro";
import { projectsProducts, projectsTemplates } from "../../data/projects";
import SectionToggle from "../../components/Utils/SectionToggle.jsx";

export async function getStaticPaths() {
  const allProjects = [...projectsProducts, ...projectsTemplates];
  return allProjects.map((project) => ({
    params: { title: encodeURIComponent(project.title.replace(/\s+/g, "-")) },
  }));
}

const params = Astro.params;

if (!params.title) {
  throw new Error("No title parameter provided");
}

const decodedTitle = decodeURIComponent(params.title);
const allProjects = [...projectsProducts, ...projectsTemplates];
const project = allProjects.find(
  (p) =>
    p.title.toLowerCase() === decodedTitle.replace(/-/g, " ").toLowerCase(),
);

if (!project) {
  throw new Error(`Project with title '${decodedTitle}' not found`);
}

// Crear un arreglo de secciones din치micamente
const sections = [
  { name: "Objetivo", content: project.objective },
  {
    name: "Proceso",
    content: project.developmentProcess
      ? `${project.developmentProcess.methodology}, ${project.developmentProcess.timeline}`
      : "",
  },
  {
    name: "Equipo",
    content: project.team
      ? project.team.contributors
          ?.map((contributor) => `${contributor.name}: ${contributor.role}`)
          .join(", ")
      : "",
  },
];
---

<Layout title={`Proyecto: ${project.title}`}>
  <main>
    <TitleComponent title={project.title} />
    <Card>
      <!-- Contenido de la izquierda -->
      <div class="col-span-1">
        <div class="px-6 py-4">
          <div class="font-bold text-2xl mb-2">{project.titleJob}</div>
          <p class="text-gray-700 text-base mb-4">{project.description}</p>
        </div>

        <!-- Tags Utilizadas -->
        {
          project.tags && (
            <div class="px-6 py-4">
              <h3 class="font-bold text-xl mb-2">Tags</h3>
              <ul class="flex flex-wrap gap-2 mb-4">
                {project.tags.map((tag) => (
                  <li class="px-2 py-1 bg-gray-200 rounded-full text-gray-700 text-sm">
                    {tag}
                  </li>
                ))}
              </ul>
            </div>
          )
        }
      <!-- Pasar el arreglo de secciones a SectionToggle -->
      <SectionToggle client:visible sections={sections} />
      </div>


      <!-- Contenido de la derecha (im치genes, videos, etc.) -->
      <div class="col-span-1">
        {
          project.media.map((url, index) => (
            <img
              src={url}
              alt={project.title}
              class="object-cover w-full h-full mb-4"
            />
          ))
        }

        <!-- Enlaces -->
        {
          project.links && (
            <div class="px-6 py-4">
              <h3 class="font-bold text-xl mb-2">Enlaces</h3>
              <ul class="list-disc list-inside text-gray-700 text-base mb-4">
                {project.links.website && (
                  <li>
                    <a
                      href={project.links.website}
                      target="_blank"
                      class="text-blue-500 hover:underline"
                    >
                      Sitio Web
                    </a>
                  </li>
                )}
                {project.links.codeRepository && (
                  <li>
                    <a
                      href={project.links.codeRepository}
                      target="_blank"
                      class="text-blue-500 hover:underline"
                    >
                      Repositorio de C칩digo
                    </a>
                  </li>
                )}
                {project.links.downloads &&
                  project.links.downloads.map((download, index) => (
                    <li>
                      {`Descarga ${index + 1}`} -{" "}
                      <a
                        href={download}
                        target="_blank"
                        class="text-blue-500 hover:underline"
                      >
                        {download}
                      </a>
                    </li>
                  ))}
                {project.links.documentation && (
                  <li>
                    <a
                      href={project.links.documentation}
                      target="_blank"
                      class="text-blue-500 hover:underline"
                    >
                      Documentaci칩n
                    </a>
                  </li>
                )}
              </ul>
            </div>
          )
        }
      </div>
    </Card>
  </main>
</Layout>
