---
import Layout from "../../layouts/Layout.astro";
import TitleComponent from "../../components/Utils/Font/Title.astro";
import TitleContent from "../../components/Utils/Font/TitleContent.astro";
import TextContent from "../../components/Utils/Font/TextContent.astro";
import Card from "../../components/Utils/Card/Card.astro";
import { projects } from "../../data/projects"; // Importamos todos los proyectos
import SectionToggle from "../../components/Utils/SectionToggle.jsx";
import Slider from "../../components/Utils/Slider/Slider.jsx"; // Importa el componente Slider

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { title: encodeURIComponent(project.title.replace(/\s+/g, "-")) },
  }));
}

const params = Astro.params;

if (!params.title) {
  throw new Error("No title parameter provided");
}

const decodedTitle = decodeURIComponent(params.title);
const project = projects.find(
  (p) =>
    p.title.toLowerCase() === decodedTitle.replace(/-/g, " ").toLowerCase(),
);

if (!project) {
  throw new Error(`Project with title '${decodedTitle}' not found`);
}

// Crear un arreglo de secciones dinámicamente
const sections = [
  { name: "Objetivo", content: project.objective },
  {
    name: "Proceso",
    content: project.developmentProcess
      ? `${project.developmentProcess.methodology}, ${project.developmentProcess.timeline}`
      : "",
  },
  {
    name: "Equipo",
    content: project.team
      ? project.team.contributors
          ?.map((contributor) => `${contributor.name}: ${contributor.role}`)
          .join(", ")
      : "",
  },
  {
    name: "Empresa",
    content: project.company ? `${project.company}` : "",
  },
];
---

<Layout title={`Proyecto: ${project.title}`}>
  <main>
    <TitleComponent title={project.title} logo={project.logo} />

    <Card>
      <!-- Contenido de la media -->
      {project.media && project.media.length > 0 && (
        <div class="mb-4 col-span-2 col-start-1">
          <Slider client:load images={project.media} />
        </div>
      )}

      <!-- Tags Utilizadas -->
      {project.tags && (
        <div class="px-6 py-4 col-span-1 col-start-1 ">
          <TitleContent title="Tags" />
          <ul class="flex flex-wrap gap-2 mb-4">
            {project.tags.map((tag) => (
              <li class="px-2 py-1 bg-gray-300 rounded-full text-gray-700 text-sm">
                {tag}
              </li>
            ))}
          </ul>
        </div>
      )}

      <!-- Descripción -->
      <div class="px-6 py-4 col-span-1 col-start-1">
        <TitleContent title={project.titleJob} />
        <TextContent>{project.description}</TextContent>
      </div>

      <!-- Secciones (SectionToggle) -->
      <div class="px-6 py-4 col-span-1 col-start-2">
        <SectionToggle client:visible sections={sections} />
      </div>
    </Card>
  </main>
</Layout>

